<!doctype html>
<html ng-app="Tipz" >
  <head>
    <title> {{title}} </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script 
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="index.js"> </script>
    <script src="addproject.js"> </script>
    <script src="home.js"> </script>
    <script src="bestproject.js"> </script>
    <script src="connection.js"> </script>
    <script src="inscription.js"> </script>
    <script src="projectdescription.js"> </script>
    <script src="rewarddescription.js"> </script>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
  </head>
  <body ng-controller="index" ng-init="page='home.html'">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="sr-only">Toggle Navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" ng-click="page='home.html'">Tipz</a>	
	</div>
	<div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
	  	<li><a ng-click="page='bestproject.html'">Les meilleurs projets</a></li>
	    <li><a ng-show="isConnected" ng-click="page='addproject.html'" >Ajouter un projet</a></li>
	    <li><a ng-hide="isConnected" ng-click="page='inscription.html'">Inscription</a></li>
	    <li><a ng-hide="isConnected" ng-click="page='connection.html'">Connexion</a></li>
	  </ul>
	</div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
    <div class="slide-animate" ng-include="page+'?i='+Math.random()"></div>
  </body>
</html>
